.box {
    width: 600px;
    height: 300px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
  }

.container {
    display: flex;
    align-items: flex-start;
  }

.comments {
    margin-right: 20px; /* Adjust margin as needed */
  }

.text-box {
    width: 30%; /* Adjust width as needed */
    min-height: 30px; /* Minimum height of the text box */
    resize: none; /* Disable user resizing */
}

#settingsButton {
  position: absolute;
  top: 10px;
  right: 10px;
}
