<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bee NICE</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
  <!-- Button for Settings -->
  <button id="settingsButton" onclick="goToSettings()">Settings</button>

  <h2>Alabama Rules Frozen Embryos Are Children, Raising Questions About Fertility Care</h2> 
  <p>An Alabama Supreme Court’s ruling that frozen embryos in test test should be considered children has sent shock waves through the world of reproductive medicine, casting doubt over fertility care for would-be parents in the state and raising complex legal questions with implications extending far beyond Alabama. 
    <br><br>
    On Tuesday, Karine Jean-Pierre, the White House press secretary, said the ruling would cause “exactly the type of chaos that we expected when the Supreme Court overturned Roe v Wade and paved the way for politicians to dictate some of the most personal decisions families can make. 
    <br><br>
    The judges issues the ruling on Friday in appeals cases brought by couples whose embryos were destroyed in 2020, when a hospital patient removed frozen embryos from tanks of liquid nitrogen in Mobile and dropped them on the floor. 
    <br><br>
    Infertility specialists and legal experts said the ruling had potentially profound effects, which should be of concern to every American who may need access to reproductive services like in vitro fertilization. 
    <br><br>
    Tap the link in our bio to read more about this ruling and what it could mean for fertility care in the U.S. Photo by Kim Chandler/@apnews</p>

  <div class="container">
    <div class="comments box">
      {% for comment in comments %}
        <div>{{ comment }}</div>
      {% endfor %}
    </div>
    <div class="sentiment">
      <!-- Display sentiment of most recent comment -->
      {% if curr_sentiment == False %}
        <p>BeeNICE: Your comment was detected as being mean</p>
        <b>Consider these ways to rewrite your sentence:</b>
        <div>
          {% for c in alt_comments %}
            <p>{{ c }}</p>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
  <br>
  <input type="text" id="commentInput" class="text-box">
  <button onclick="postComment()">Post Comment</button>
  <br>
  <br>
  <button onclick="clearComments()">Clear Comments</button>
    <!-- Add summary of current thread -->
    {% if num_comments > 1 %}
    <button onclick="summarizeComments()">Summarize Thread</button>
    {% endif %}
    {% if summary != "" %}
      <br>
      <b>Summary of comment thread</b>
      <p>{{ summary }}</p>

    {% endif %}
</body>
</html>
