<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bee NICE</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
  <div style="display: inline-block;">
    <h1 style="display: inline;">BeeNICE</h1>
    <img src="static/bee.png" width="50" height="50" style="display: inline;">
  </div>  
  <p>Example comment thread under a news article</p>
  <div class="container">
    <div class="comments box">
      {% for comment in comments %}
        <div>{{ comment }}</div>
      {% endfor %}
    </div>
    <div class="sentiment">
      <!-- Display sentiment of most recent comment -->
      {% if curr_sentiment == False %}
        <p>BeeNICE: Your comment was detected as being mean</p>
        <b>Consider these ways to rewrite your sentence:</b>
        <div>
          {% for c in alt_comments %}
            <p>{{ c }}</p>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
  <br>
  <input type="text" id="commentInput" class="text-box">
  <button onclick="postComment()">Post Comment</button>
  <br>
  <br>
  <button onclick="clearComments()">Clear Comments</button>
    <!-- Add summary of current thread -->
    {% if num_comments > 1 %}
    <button onclick="summarizeComments()">Summarize Thread</button>
    {% endif %}
    {% if summary != "" %}
      <br>
      <b>Summary of comment thread</b>
      <p>{{ summary }}</p>

    {% endif %}
</body>
</html>
